/* styles.css */
table {
    width: 30%;
    border-collapse: collapse; /* Collapse borders so there is no space between them */
    table-layout: fixed; /* Optional: helps keep columns even */
}

th, td {
  padding: 5px; /* Adds padding to all sides of table cells */
  border: 1px solid #ccc; /* Adds a border around each cell */
  text-align: left; /* Optional: align text to the left */
}

thead {
  background-color: #f2f2f2; /* Optional: colors the header background */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Optional: zebra-stripes for rows */
}

#leaderboard {
    padding: 20px;  /* Adjust the padding value to your liking */
}

#leaderboard-title {
    text-align: center;
}
